

.my-nav {
  background-color: #B47178;
}

.my-nav .navbar-brand img{
  height: 30px;
}

.my-nav li a {
  background-color: #B47178;
  border-width: 0;
}


body {
    padding-top: 70px;
}

#about, #my-work, #contact-me {
  padding-top: 70px;

}